<!doctype html>
<html ng-app="Maker" ng-csp>
  <head>
    <title>Manifest Maker</title>
    <link rel="stylesheet" href="topcoat-desktop-dark.min.css" type="text/css">
    <link rel="stylesheet" href="maker.css" type="text/css">
  </head>
  <body ng-controller="ManifestController" class="dark">
    
    <div class="container">
      
      <h1>Manifest Maker</h1>
    
      <div class="manifest container">
      
        <div class="controls">
          <label>Name</label>
          <input ng-model="manifest.name" class="topcoat-text-input" placeholder="Application Name Here">
        </div>
        
        <div class="controls">
          <label>Description</label>
          <input ng-model="manifest.description" class="topcoat-text-input" placeholder="What is this?">
        </div>
        
        <div class="controls">
          <label>URL</label>
          <input ng-model="manifest.app.launch.web_url" class="topcoat-text-input" placeholder="www.example.com">
        </div>
        
        <div class="controls">
          <label for="nothing">Icon (128px)</label>
          <label class="imageFile topcoat-button" for="imageFileInput">choose image</label>
          <input class="topcoat-text-input" type="file" id="imageFileInput" name="imageFileInput">
        </div>
        
      </div>
      
      <!--
      //since we're not allowed to save multiple images, we'll have to settle for this
      <div class="image-landing container">
        <label>Drag Image Here</label>
        <img ng-show="image" ng-src="{{image.src}}">
      </div>
      -->
      
      <hr>
      
      <button class="topcoat-button--cta" ng-click="generate()" id="generate">Generate</button>
      
    </div>
    
    <script src="angular.min.js"></script>
    <script src="maker.js"></script>
  </body>
</html>