* {
  box-sizing: border-box; 
}

body {
  color: #F0F1F1;
}

h1 {
  margin: 0;
}

input {
  vertical-align: middle !important;
}

label {
  font-size: 28px;
}

.manifest label {
  text-align: right;
  width: 150px;
  display: inline-block;
}

hr {
  margin: 1em 0;
  color: #F0F1F1;
}

.container {
  padding: 1em;
}

.manifest {
  outline: 1px solid #F0F1F1;
}

.image-landing {
  outline: 1px dashed #F0F1F1;
  height: 10em;
  line-height: 8em;
  text-align: center;
  vertical-align: middle;
}

label.imageFile {
  width: 195px;
  margin: 5px;
  text-align: center;
}

input[type="file"] {
  height: 3rem;
  width: 100%;
  padding: 12px;
  display: none;
}

#generate {
  margin: auto;
  display: block;
  width: 200px;
}